APP_CONFIG__DB__USERDATA_URL=postgresql+asyncpg://user:password@userdata_db:5432/userdata
APP_CONFIG__DB__BANK_URL=postgresql+asyncpg://manager:pwd@bank_db:5432/bank
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=
APP_CONFIG__CRYPTOGRAPHY__DB_ENCRYPTION_KEY=
APP_CONFIG__CRYPTOGRAPHY__PASSPORT__HASH_SALT=
APP_CONFIG__CRYPTOGRAPHY__CARD_HASH_SALT=
APP_CONFIG__RMQ__PASSWORD=qwe
APP_CONFIG__RMQ__USER=rabbit
APP_CONFIG__RMQ__EXCHANGE=""
APP_CONFIG__RMQ__ROUTING_KEY=